#!/bin/sh
# Copyright 2020 Citrix Systems, Inc.
#
# This script registers ctxlogd service with systemd

[Unit]
Description=Citrix Log Daemon Service

[Service]
Type=forking
ExecStart=/home/nic/ICAClient/linuxx64/util/ctxlogd


[Install]
WantedBy=default.target